#app-navigation h3 {
  padding: 6px 12px;
}
#agg-filter {
	padding: 6px 12px;
}
#app-navigation .agg_childs {
	padding-left: 35px;
}
#app-navigation .agg_childs a {
	padding-left: 0px;	
}
#agg-fields-ul {
	padding-left: 0px;
}
#details {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 60px;
  background-color: rgba(0,0,0,0.2);
  z-index: 500;
  cursor: pointer;
  overflow: scroll;
	
}

#details-text {
   margin: auto;
   	min-width: 200px;
	max-width: 80%;
	min-height: 500px;
	background-color: white;
  text-align: left;
  padding: 10px;
}

#resultstable {
	position: relative;
	width: 100%;   
}


#resultstable th {
	padding: 5px;
	text-align: left;
	font-weight: bold;
	background-color: #eee;
}

#resultstable.has-controls {
	top: 44px;
}

/* make sure there's enough room for the file actions */
#body-user #resultstable {
	min-width: 688px;
	/* 768 (mobile break) - 80 (nav width) */
}

#body-user #controls {
	min-width: 688px;
	/* 768 (mobile break) - 80 (nav width) */
}

#resultstable tbody tr {
	background-color: #fff;
	height: 40px;
	white-space: normal;
}

#resultstable tbody tr.highlighted,
#resultstable tbody tr.highlighted .name:focus,
#resultstable tbody tr.searchresult,
#resultstable tbody tr.selected,
#resultstable tbody tr:active,
#resultstable tbody tr:focus,
#resultstable tbody tr:hover,
table tr.mouseOver td {
	background-color: #f8f8f8;
}

tbody a {
	color: #000;
}

div.pagi {
	float: left;
	display: block;
	height: 44px;
}
div.pagi span {
	font-weight: bold;
}
div.pagi a,
div.pagi span {
	position: relative;
	top: 12px;
	padding: 14px 10px 14px 10px;
	color: #555;
}

div.pagi a.ellipsislink {
	padding: 0 !important;
	position: relative;
	top: 8px !important;
}

/* some feedback for hover/tap on paginations */
div.pagi:hover,
div.pagi:focus,
div.pagi a:focus,
div.pagi:active {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity:.7;
}

